#
# Logical Preferences generated for Lattice by Synplify map202303lat, Build 132R.
#

# Period Constraints 
#FREQUENCY NET "PIN11z" 2.1 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
